<p style="text-align: justify;">
  ( ) <strong>
      apresentando eventuais outros documentos que sirvam como início de prova material
      contemporâneos ao período que se pretende comprovar (Súmula nº 34, TNU)</strong>, de
  modo a aferir se na data de entrada do(s) requerimento(s) administrativo(s)
  (ou do início da incapacidade, se a pretensão recair sobre benefício dessa
  natureza, ou da data em que completou a idade mínima, se a pretensão recair
  sobre a concessão de aposentadoria por idade rural), a parte autora mantinha
  qualidade de segurada e a carência necessária para a concessão do benefício
  pleiteado. Fica ciente de que a não apresentação de tais documentos acarretará
  a preclusão na produção da referida prova;
</p>
