<section class="example-section" [formGroup]="toppings">
  <p (click)="handleClick()">
    <mat-checkbox formControlName="rg">RG/CPF</mat-checkbox>
  </p>
  <p (click)="handleClick2()">
    <mat-checkbox formControlName="procuracao">Procuração</mat-checkbox>
  </p>
  <p (click)="handleClick3()">
    <mat-checkbox formControlName="residencia"
      >Comprovante de residência</mat-checkbox
    >
  </p>
  <p (click)="handleClick5()">
    <mat-checkbox formControlName="renuncia">Termo de Renúncia</mat-checkbox>
  </p>
  <p (click)="handleClick9()">
    <mat-checkbox formControlName="hipossuficiencia"
      >Declaração de Hipossuficiência</mat-checkbox
    >
  </p>
  <p (click)="handleClick4()">
    <mat-checkbox formControlName="comunicacao"
      >Comunicacão de Decisão</mat-checkbox
    >
  </p>
  <p (click)="handleClick10()">
    <mat-checkbox formControlName="valor-da-causa">Valor da Causa</mat-checkbox>
  </p>
  <p (click)="handleClick11()">
    <mat-checkbox formControlName="pedido-certo"
      >Pedido Certo e Determinado</mat-checkbox
    >
  </p>
</section>
