<p>
  ( ) apresentando documentos hábeis a comprovar a existência de vida em comum
  com o “de cujus”, na data do óbito, os quais permitam aferir a continuidade da
  relação, a estabilidade, a coabitação ou o esforço mútuo (por exemplo, cópia
  de decisão em qualquer processo judicial onde se reconheça a união estável;
  Certidão de Nascimento de filho em comum; Certidão de casamento religioso;
  conta bancária conjunta; disposições testamentárias; apólice de seguro
  indicando o segurado e o beneficiário; Declaração de Imposto de Renda do
  titular em que conste o(a) suposto(a) companheiro(a) como dependente; anotação
  constante de Ficha ou Livro de Registro de Empregados; registro em associação
  de qualquer natureza onde conste a interessada como dependente do segurado, ou
  vice-versa; ficha de tratamento em instituição de assistência médica da qual
  conste um como responsável pelo outro; procuração ou fiança reciprocamente
  outorgada; prova de encargos domésticos evidentes e existência de sociedade ou
  comunhão nos atos da vida civil, etc.), na medida em que sua causa de pedir
  deve ter contornos bem delineados a fim de permitir ao réu o exercício do seu
  direito de defesa, bem como ao juízo, sendo necessário, avaliar o conjunto
  probatório a recair sobre tais fatos alegados. Fica ciente de que a não
  apresentação de tais documentos acarretará a preclusão na produção da referida
  prova;
</p>
