<p>( ) apresentando comunicação de indeferimento do PP (pedido de prorrogação)
emitido pelo INSS, conforme preconizam os artigos 340 e 344, in fine, da IN
INSS/PRES nº 128/2022, ou outro documento que comprove o indeferimento do pedido
de prorrogação do benefício por incapacidade cessado, ou ainda expediente
administrativo diverso que demonstre a tentativa frustrada de restabelecer o
benefício pleiteado nesta ação, já que o Poder Judiciário só pode atuar em caso
de lide (“conflito de interesses qualificado por uma pretensão resistida”),
carecendo o autor do direito de ação por falta de interesse processual quando a
tutela jurisdicional não lhe for necessária;</p>
