<section class="example-section" [formGroup]="toppings">
    <h4>Aposentadoria por Idade Rural:</h4>
  
    
    <app-checkbox-basico
      (changeNumber)="onChangeNumber()"
      (showResidencia)="onShowResidencia()"
      (showComunicacao)="onShowComunicacao()"
      (showRenuncia)="onShowRenuncia()"
      (showCelular)="onShowCelular()"
      (showCertoEDeterminado)="onShowCertoEDeterminado()"
      (showHipossuficiencia)="onShowHipossuficiencia()"
      (showValor)="onShowValor()"
      (showProc)="onShowProc()"
      (showTelefone)="onShowCelular()"
    ></app-checkbox-basico>
  
    
    <p (click)="handleClick()">
      <mat-checkbox formControlName="prova-material"
        >Início de Prova Material</mat-checkbox
      >
    </p>
    </section>
  