<p>
  ( ) atribuindo valor da causa condizente com o benefício patrimonial pretendido
  ou esclarecendo o valor atribuído à causa, com apresentação de planilha de
  cálculo (artigos 292 CPC), haja vista ser condição indispensável da petição
  inicial (art. 319, inciso V, CPC) e porque se trata de importante elemento do
  processo, pois serve como critério para fixação de competência – art. 65, CPC;
  de base de cálculo para recolhimento de custas judiciais – Lei nº 9.289/96; de
  base de cálculo para fixação de multas processuais – art. 81, art. 77,
  parágrafo único, art. 1026, § 2º CPC, etc.), principalmente nas ações que
  tramitam na Justiça Federal, haja vista a possibilidade de ser demandado o
  pedido no âmbito dos Juizados Especiais Federais, que têm no valor da causa
  critério para fixação da competência absoluta do juízo (art. 3º, Lei nº
  10.259/01). Se houver parcelas vencidas e vincendas, deverá a parte observar
  as disposições do art. 292, §§ 1º e 2º do CPC e o disposto no Enunciado nº 17
  do FONAJEF (Fórum Nacional dos Juizados Especiais): “Não cabe renúncia sobre
  parcelas vincendas para fins de fixação de competência nos Juizados Especiais
  Federais”;
</p>
