<section class="example-section" [formGroup]="toppings">
  <h4 style="text-align: center">LOAS - Deficiente</h4>
  <p (click)="onShowCelular()">
    <mat-checkbox formControlName="telefone">Nº de Telefone</mat-checkbox>
  </p>

  <app-checkbox-basico
    (changeNumber)="onChangeNumber()"
    (showResidencia)="onShowResidencia()"
    (showComunicacao)="onShowComunicacao()"
    (showRenuncia)="onShowRenuncia()"
    (showCelular)="onShowCelular()"
    (showCertoEDeterminado)="onShowCertoEDeterminado()"
    (showHipossuficiencia)="onShowHipossuficiencia()"
    (showValor)="onShowValor()"
    (showProc)="onShowProc()"
    (showTelefone)="onShowCelular()"
  ></app-checkbox-basico>

  <p (click)="handleClick()">
    <mat-checkbox formControlName="indicacao-endereco"
      >Endereço em Zona Rural</mat-checkbox
    >
  </p>
</section>
