<p>
  ( ) apresentando instrumento de procuração original (digitalizado) e atualizado
  (com data não superior a um ano da propositura da ação), pois, caso contrário,
  este juízo não poderá concluir, com a segurança necessária, que o i. advogado
  subscritor da petição inicial ainda tenha poderes para defender os interesses
  do(s) autor(es) neste feito, já que em várias outras situações já se constatou
  que a parte acaba contratando outro profissional para demandar nos Juizados
  Especiais Federais ou em outros juízos, quando se leva tempo considerável para
  o início da ação;
</p>
