<section class="geral">
  <p>Análise das Petições Iniciais</p>
  <app-menu
    (incapacidade)="onIncapacidade()"
    (basico)="onBasico()"
    (pensao)="onPensao()"
  ></app-menu>
  <app-checkbox-pensao
    *ngIf="showCheckboxPensao"
    (changeNumber)="onChangeNumber()"
    (showResidencia)="onShowResidencia()"
    (showComunicacao)="onShowComunicacao()"
    (showRenuncia)="onShowRenuncia()"
    (showCelular)="onShowCelular()"
    (showCertoEDeterminado)="onShowCertoEDeterminado()"
    (showHipossuficiencia)="onShowHipossuficiencia()"
    (showValor)="onShowValor()"
    (showProc)="onShowProc()"
  ></app-checkbox-pensao>

  <app-checkbox-ad
    *ngIf="showCheckBoxAd"
    (changeNumber)="onChangeNumber()"
    (showResidencia)="onShowResidencia()"
    (showComunicacao)="onShowComunicacao()"
    (showIndPP)="onShowIndPP()"
    (showProfissao)="onShowProfissao()"
    (showDoenca)="onShowDoenca()"
    (show129A)="onShow129A()"
    (showRenuncia)="onShowRenuncia()"
    (showCelular)="onShowCelular()"
    (showCertoEDeterminado)="onShowCertoEDeterminado()"
    (showHipossuficiencia)="onShowHipossuficiencia()"
    (showValor)="onShowValor()"
    (showProcuracao)="onShowProc()"
  ></app-checkbox-ad>
  <app-checkbox-basico
    *ngIf="showCheckBasico"
    (changeNumber)="onChangeNumber()"
    (showResidencia)="onShowResidencia()"
    (showComunicacao)="onShowComunicacao()"
    (showRenuncia)="onShowRenuncia()"
    (showCelular)="onShowCelular()"
    (showCertoEDeterminado)="onShowCertoEDeterminado()"
    (showHipossuficiencia)="onShowHipossuficiencia()"
    (showValor)="onShowValor()"
    (showProcuracao)="onShowProc()"
  ></app-checkbox-basico>

  <section class="texto">
    <app-texto *ngIf="showRg" class="texto"></app-texto>
    <app-procuracao *ngIf="showProc" class="texto"></app-procuracao>
    <app-texto-residencia
      *ngIf="showResidencia"
      class="texto"
    ></app-texto-residencia>
    <app-renuncia *ngIf="showRenuncia" class="texto"></app-renuncia>
    <app-hipossuficiencia
      *ngIf="showHipossuficiencia"
      class="texto"
    ></app-hipossuficiencia>
    <app-comunicacao *ngIf="showComunicacao" class="texto"></app-comunicacao>
    <app-indeferimento-pp
      *ngIf="showIndPP"
      class="texto"
    ></app-indeferimento-pp>
    <app-profissao *ngIf="showProfissao" class="texto"></app-profissao>
    <app-doenca *ngIf="showDoenca" class="texto"></app-doenca>
    <app-declaracao-129-a *ngIf="show129A" class="texto"></app-declaracao-129-a>
    <app-celular *ngIf="showCelular" class="texto"></app-celular>
    <app-certo-e-determinado
      *ngIf="showCertoEDeterminado"
      class="texto"
    ></app-certo-e-determinado>
    <app-valor-da-causa *ngIf="showValor" class="texto"></app-valor-da-causa>
  </section>
</section>
