<div class="container">
  <div class="sidebar">
    <app-menu
      (incapacidade)="onIncapacidade()"
      (basico)="onBasico()"
      (pensao)="onPensao()"
      (atc)="onAtc()"
      (ar)="onAr()"
      (ae)="onAe()"
      (rural)="onRural()"
    ></app-menu>
  </div>

  <div class="checklist-section">
    <app-checkbox-ar
      *ngIf="showCheckBoxAr"
      (showTelefone)="onShowTelefone()"
      (changeNumber)="onChangeNumber()"
      (showResidencia)="onShowResidencia()"
      (showComunicacao)="onShowComunicacao()"
      (showRenuncia)="onShowRenuncia()"
      (showCelular)="onShowCelular()"
      (showCertoEDeterminado)="onShowCertoEDeterminado()"
      (showHipossuficiencia)="onShowHipossuficiencia()"
      (showValor)="onShowValor()"
      (showProc)="onShowProc()"
      (showDocsRecluso)="onShowDocsRecluso()"
      (showEventuaisOutros)="onShowEventuaisOutros()"
      (showAtestadoPermanencia)="onShowAtestadoPermanencia()"
    ></app-checkbox-ar>
    <app-checkbox-atc
      *ngIf="showCheckBoxAtc"
      (showTelefone)="onShowTelefone()"
      (changeNumber)="onChangeNumber()"
      (showResidencia)="onShowResidencia()"
      (showComunicacao)="onShowComunicacao()"
      (showRenuncia)="onShowRenuncia()"
      (showCelular)="onShowCelular()"
      (showCertoEDeterminado)="onShowCertoEDeterminado()"
      (showHipossuficiencia)="onShowHipossuficiencia()"
      (showValor)="onShowValor()"
      (showProc)="onShowProc()"
    ></app-checkbox-atc>
    <app-checkbox-pensao
      *ngIf="showCheckboxPensao"
      (showTelefone)="onShowTelefone()"
      (changeNumber)="onChangeNumber()"
      (showResidencia)="onShowResidencia()"
      (showComunicacao)="onShowComunicacao()"
      (showRenuncia)="onShowRenuncia()"
      (showCelular)="onShowCelular()"
      (showCertoEDeterminado)="onShowCertoEDeterminado()"
      (showHipossuficiencia)="onShowHipossuficiencia()"
      (showValor)="onShowValor()"
      (showProc)="onShowProc()"
      (showDocsDeCujus)="onShowDocsDeCujus()"
      (showAutorCompanheiro)="onShowAutorCompanheiro()"
      (showDeCujusEspecial)="onShowDeCujusEspecial()"
      (showExConjuge)="onShowExConjuge()"
    ></app-checkbox-pensao>

    <app-checkbox-ad
      *ngIf="showCheckBoxAd"
      (changeNumber)="onChangeNumber()"
      (showResidencia)="onShowResidencia()"
      (showComunicacao)="onShowComunicacao()"
      (showIndPP)="onShowIndPP()"
      (showProfissao)="onShowProfissao()"
      (showDoenca)="onShowDoenca()"
      (show129A)="onShow129A()"
      (showRenuncia)="onShowRenuncia()"
      (showCelular)="onShowCelular()"
      (showCertoEDeterminado)="onShowCertoEDeterminado()"
      (showHipossuficiencia)="onShowHipossuficiencia()"
      (showValor)="onShowValor()"
      (showProcuracao)="onShowProc()"
      (showTelefone)="onShowTelefone()"
    ></app-checkbox-ad>
    <app-checkbox-basico
      *ngIf="showCheckBasico"
      (changeNumber)="onChangeNumber()"
      (showResidencia)="onShowResidencia()"
      (showComunicacao)="onShowComunicacao()"
      (showRenuncia)="onShowRenuncia()"
      (showCelular)="onShowCelular()"
      (showCertoEDeterminado)="onShowCertoEDeterminado()"
      (showHipossuficiencia)="onShowHipossuficiencia()"
      (showValor)="onShowValor()"
      (showProc)="onShowProc()"
      (showTelefone)="onShowTelefone()"
    ></app-checkbox-basico>
    <app-checkbox-ae
      *ngIf="showCheckBoxAe"
      (showTelefone)="onShowCelular()"
      (changeNumber)="onChangeNumber()"
      (showResidencia)="onShowResidencia()"
      (showComunicacao)="onShowComunicacao()"
      (showRenuncia)="onShowRenuncia()"
      (showCelular)="onShowCelular()"
      (showCertoEDeterminado)="onShowCertoEDeterminado()"
      (showHipossuficiencia)="onShowHipossuficiencia()"
      (showValor)="onShowValor()"
      (showProc)="onShowProc()"
      (showFormularios)="onShowFormularios()"
    ></app-checkbox-ae>
    <app-checkbox-rural *ngIf="showCheckBoxRural"
    (showTelefone)="onShowCelular()"
    (changeNumber)="onChangeNumber()"
    (showResidencia)="onShowResidencia()"
    (showComunicacao)="onShowComunicacao()"
    (showRenuncia)="onShowRenuncia()"
    (showCelular)="onShowCelular()"
    (showCertoEDeterminado)="onShowCertoEDeterminado()"
    (showHipossuficiencia)="onShowHipossuficiencia()"
    (showValor)="onShowValor()"
    (showProc)="onShowProc()"
    (showProvaMaterial)="onShowProvaMaterial()"></app-checkbox-rural>
  </div>
  <div class="text-viewer">
    <p style="text-align: justify" *ngIf="showGeral">
      Nos termos da Portaria 21/2019 deste Juizado Especial Federal Cível e do
      Art. 203, &sect; 4º do CPC, fica a parte autora intimada para, no
      <strong> prazo de 15 (quinze) dias</strong>, promover emenda à petição
      inicial, nos seguintes termos:
    </p>

    <app-concentrada-rural *ngIf="showRural"></app-concentrada-rural>



    <app-texto *ngIf="showRg" class="texto"></app-texto>
    <app-procuracao *ngIf="showProc" class="texto"></app-procuracao>
    <app-texto-residencia
      *ngIf="showResidencia"
      class="texto"
    ></app-texto-residencia>
    <app-renuncia *ngIf="showRenuncia" class="texto"></app-renuncia>
    <app-hipossuficiencia
      *ngIf="showHipossuficiencia"
      class="texto"
    ></app-hipossuficiencia>
    <app-comunicacao *ngIf="showComunicacao" class="texto"></app-comunicacao>
    <app-indeferimento-pp
      *ngIf="showIndPP"
      class="texto"
    ></app-indeferimento-pp>
    <app-profissao *ngIf="showProfissao" class="texto"></app-profissao>
    <app-doenca *ngIf="showDoenca" class="texto"></app-doenca>
    <app-declaracao-129-a *ngIf="show129A" class="texto"></app-declaracao-129-a>
    <app-celular *ngIf="showCelular" class="texto"></app-celular>
    <app-certo-e-determinado
      *ngIf="showCertoEDeterminado"
      class="texto"
    ></app-certo-e-determinado>
    <app-valor-da-causa *ngIf="showValor" class="texto"></app-valor-da-causa>
    <app-telefone *ngIf="showTelefone"></app-telefone>
    <app-docs-de-cujus *ngIf="showDocsDeCujus"></app-docs-de-cujus>
    <app-prova-material-convivencia-de-cujus
      *ngIf="showAutorCompanheiro"
    ></app-prova-material-convivencia-de-cujus>
    <app-prova-material-de-cujus
      *ngIf="showDeCujusEspecial"
    ></app-prova-material-de-cujus>
    <app-dependencia-economica-de-cujus
      *ngIf="showExConjuge"
    ></app-dependencia-economica-de-cujus>
    <app-docs-recluso *ngIf="showDocsRecluso"></app-docs-recluso>
    <app-outros-dependentes
      *ngIf="showEventuaisOutros"
    ></app-outros-dependentes>
    <app-atestado-carcerario
      *ngIf="showAtestadoPermanencia"
    ></app-atestado-carcerario>
    <app-formularios *ngIf="showFormularios"></app-formularios>
    <app-inicio-prova-material *ngIf="showProvaMaterial"></app-inicio-prova-material>
  </div>
</div>
