<p>
  ( ) apresentando os formulários relativos ao período de trabalho especial cuja
  conversão é pretendida (DSS-8030, SB-40 ou PPP), bem como eventuais laudos
  técnicos (LTCAT), devidamente preenchidos e assinados (com identificação do
  subscritor) que atestem a efetiva exposição a agentes nocivos a que esteve
  submetida após 29/04/1995, durante seu histórico laboral descrito na petição
  inicial, ficando ciente de que o descumprimento dessa determinação acarretará
  a preclusão na produção da referida prova de trabalho como especial para fins
  de conversão em comum;
</p>
