<p>
  ( ) apresentando declaração quanto à existência ou inexistência de ação
  judicial anterior com o mesmo objeto e causa de pedir da presente demanda
  (art. 129-A, I, “d”, LBPS), esclarecendo os motivos pelos quais se entende não
  haver litispendência ou coisa julgada, quando for o caso. Fica a parte autora
  ciente de que a insistência no prosseguimento deste feito com posterior
  constatação de tentativa de violação à litispendência ou à coisa julgada
  poderá implicar sua condenação por litigância de má-fé por fazer uso do
  processo para conseguir objetivo ilegal (art. 80, III, CPC);
</p>
