<h5 style="text-align: center"><strong>DESPACHO</strong></h5>

<p style="text-align: justify">
  Considerando a possibilidade de formalização de negócio jurídico processual
  para a adoção do fluxo processual denominado de Instrução Concentrada em
  Pedidos de Pensão por Morte, cujo ponto controvertido seja exclusivamente a
  comprovação da relação de união estável, nos termos da
  <strong> Resolução Conjunta PRESI/GABPRES/ADEG Nº 9/2024 </strong>,
  permitindo-se maior celeridade processual e incremento do índice de
  conciliação, <strong>INTIME-SE</strong> a parte autora para, em
  <strong>15 dias</strong>, manifestar, expressamente, interesse em aderir à
  Instrução Concentrada, renunciando à faculdade de produzir prova oral em
  audiência e emendando a inicial, no mesmo prazo, para trazer aos autos
  gravações em vídeos do depoimento pessoal da parte e dos depoimentos
  testemunhais, observados os termos dos arts. 4º e 5º da Resolução Conjunta Nº
  9/2024, ciente de que, sem a devida juntada dos vídeos ocorrerá a preclusão
  desse meio de prova.
</p>
<p>
  Caso a parte autora manifeste expressa adesão ao negócio jurídico processual
  denominado de Instrução Concentrada, consoante previsto na Resolução Conjunta
  Nº 9/2024, fica, desde já, dispensada a produção de prova oral em audiência.
</p>
<p>
  A validade da prova testemunhal gravada em vídeo e trazida aos autos, nos
  termos do art. 5º da Resolução Conjunta Nº 9/2024, estará condicionada ao
  cumprimento dos seguintes requisitos mínimos:
</p>
<p>
  <strong>a-)</strong> no início de cada gravação em vídeo deverá ser mencionado
  o nome da parte autora e/ou o número do processo judicial a que se refere o
  depoimento e as testemunhas deverão apresentar documento de identificação com
  foto no início da gravação e, em seguida, deverão ser devidamente
  qualificadas, com indicação do nome, estado civil, profissão e local de
  residência, bem como indicar se são parentes ou amigos íntimos da parte
  autora;
</p>
<p>
  <strong>b-)</strong> as testemunhas deverão ser compromissadas antes de
  prestarem depoimento, assumindo o compromisso de dizer a verdade sob pena de
  cometimento do crime de falso testemunho (Código Penal, art. 342);
</p>
<p>
  <strong>c-)</strong> a gravação em vídeo deve ser contínua, sem edições ou
  cortes de qualquer natureza, de modo a garantir a integridade do depoimento e
  tanto a parte autora quanto as testemunhas deverão responder,
  obrigatoriamente, às perguntas padronizadas indicadas abaixo, além de outras
  que o(a) advogado(a) da parte autora entender pertinentes, sob pena de
  invalidade da prova testemunhal gravada com a consequente preclusão e sua
  desconsideração na formação do convencimento do juízo.
</p>
<p><strong>d-) PERGUNTAS PADRONIZADAS</strong></p>
<p>As perguntas abaixo devem ser formuladas à parte autora e às testemunhas.</p>
<p>
  Caso uma resposta negativa torne prejudicada a análise das posteriores, fica
  dispensada a formulação das demais.
</p>
<p><strong>I – DEPOIMENTO PESSOAL</strong></p>
<p>a) Quando a(o) depoente conheceu a (o) <i>de cujus</i>?</p>
<p>
  b) A partir de quando a(o) depoente passou a conviver com a(o)
  <i>de cujus</i> na condição de companheira(o)?
</p>
<p>
  c) Qual o endereço no qual houve a coabitação? Se o caso, indicar os locais de
  residência nos últimos cinco anos anteriores à data do óbito e o tempo em que
  permaneceram na localidade.
</p>
<p>
  d) Algum dos conviventes foi casado anteriormente? Caso positivo, qual a data
  na qual houve a separação?
</p>
<p>
  e) Houve filhos comuns em decorrência do relacionamento? Quais? Qual a data de
  nascimento dele(s)?
</p>
<p>
  e-1) Algum dos filhos comuns é menor de dezoito anos, inválido ou com
  deficiência? Se positivo, quem possui a guarda ou é responsável por ele(a)?
  Está matriculado na escola?
</p>
<p>
  f) Algum dos conviventes tinha filhos decorrentes de outros relacionamentos?
</p>
<p>g) Quais locais os conviventes costumavam frequentar?</p>
<p>
  h) Como era o relacionamento da depoente com a família da(o) <i>de cujus</i>?
</p>
<p>
  i) A(o) <i>de cujus</i> sofria de alguma patologia? Caso positivo, como eram e
  quem prestava os cuidados necessários?
</p>
<p>
  j) Na localidade em que residiam e perante a família, todos reconheciam a
  depoente e o(a) <i>de cujus</i> como companheiros?
</p>
<p>k) O (a) depoente foi declarante do óbito? Em caso negativo, por quê?</p>
<p>
  l) O (a) depoente cuidou e estava presente no funeral da(o) <i>de cujus</i>?
  Caso negativo, por quê?
</p>
<p>
  m) Em algum momento a parte Autora e o(a) <i>de cujus</i> chegaram a se
  separar? Por quanto tempo?
</p>
<p><strong>II – DEPOIMENTO DE TESTEMUNHAS</strong></p>
<p>a) Há quanto tempo conhece a parte autora?</p>
<p>
  b) Conhece a parte autora em razão do quê? Qual seu relacionamento com ela
  (são vizinhos(as), colegas de trabalho, amigos(as), parentes etc)?
</p>
<p>c) Quando a parte autora conheceu a (o) <i>de cujus</i>?</p>
<p>
  d) A partir de quando a parte Autora passou a conviver com a(o)
  <i>de cujus</i> na condição de companheira(o)?
</p>
<p>
  e) Qual o endereço no qual houve a coabitação da parte autora e do(a)
  <i> de cujus </i>? Se o caso, indicar os locais de residência nos últimos
  cinco anos anteriores à data do óbito e o tempo em que a parte autora e o(a)
  <i>de cujus</i>
  permaneceram na localidade.
</p>
<p>
  f) A parte autora ou o(a) <i>de cujus</i> foram casados anteriormente? Caso
  positivo, qual a data na qual houve a separação?
</p>
<p>g) Houve filhos comuns em decorrência do relacionamento? Quais?</p>
<p>
  g.1) Algum dos filhos comuns é menor de dezoito anos, inválido ou com
  deficiência? Se positivo, está sob guarda da parte autora? Está matriculado na
  escola?
</p>
<p>
  h) A parte autora ou o(a) <i>de cujus</i> tinha filhos decorrentes de outros
  relacionamentos?
</p>
<p>
  i) Quais locais a parte autora e o(a) <i>de cujus</i> costumavam frequentar?
</p>
<p>
  j) Como era o relacionamento da parte autora com a família da(o)
  <i>de cujus</i>?
</p>
<p>
  k) A(o) <i>de cujus</i> sofria de alguma patologia? Caso positivo, como eram e
  quem prestava os cuidados necessários?
</p>
<p>
  l) Na localidade em que residiam e perante a família, todos reconheciam a
  parte autora e o <i>de cujus</i> como companheiros/marido e mulher?
</p>
<p>m) A parte autora foi a declarante do óbito? Caso negativo, por quê?</p>
<p>
  n) A parte autora cuidou e estava presente no funeral da(o) <i>de cujus</i>?
  Caso negativo, por quê?
</p>
<p>
  o) Em algum momento a parte autora e o(a) <i>de cujus</i> chegaram a se
  separar? Por quanto tempo?
</p>
<p>
  No mesmo prazo, além das gravações dos depoimentos a serem juntadas, a parte
  autora deve atentar-se para seu ônus probatório de carrear aos autos início de
  prova material contemporânea aos fatos, conferindo se há documentos produzidos
  tanto no período não superior a 24 (vinte e quatro) meses do óbito como no
  período anterior a 2 (dois) anos deste, nos termos do artigo 16, §§ 5º e 6º,
  da Lei nº 8.213/91, tendo como exemplo o rol previsto no artigo 22, § 3º, do
  Decreto nº 3.048/99 e no artigo 3º, § 1º, da Portaria GACO n. 59/2023.
</p>
<p>
  Ainda no mesmo prazo, deverá a parte autora promover emenda à petição inicial
  (art. 321 do CPC), sob pena de preclusão da produção da respectiva prova ou de
  extinção do feito sem resolução do mérito, quando o caso, nos seguintes
  termos:
</p>
