<h5 style="text-align: center"><strong>DESPACHO</strong></h5>

<p>
  Considerando a possibilidade de formalização de negócio jurídico processual
  para a adoção do fluxo processual denominado de Instrução Concentrada em
  Pedidos de Pensão por Morte, cujo ponto controvertido seja exclusivamente a
  comprovação da relação de união estável, nos termos da Portaria GACO n.
  59/2023, permitindo-se maior celeridade processual e incremento do índice de
  conciliação, INTIME-SE a parte autora para, em 15 dias, manifestar,
  expressamente, interesse em aderir à Instrução Concentrada, renunciando à
  faculdade de produzir prova oral em audiência e emendando a inicial, no mesmo
  prazo, para trazer aos autos gravações em vídeos do depoimento pessoal da
  parte e dos depoimentos testemunhais, observados os termos dos arts. 4º e 5º
  da Portaria GACO n. 59/2023, ciente de que, sem a devida juntada dos vídeos
  ocorrerá a preclusão desse meio de prova. Caso a parte autora manifeste
  expressa adesão ao negócio jurídico processual denominado de Instrução
  Concentrada, consoante previsto na Portaria GACO n. 59/2023, fica, desde já,
  dispensada a produção de prova oral em audiência. A validade da prova
  testemunhal gravada em vídeo e trazida aos autos, nos termos do art. 3º,
  inciso I, Portaria GACO n. 59/2023, estará condicionada ao cumprimento dos
  seguintes requisitos mínimos: a-) no início de cada gravação em vídeo deverá
  ser mencionado o nome da parte autora e/ou o número do processo judicial a que
  se refere o depoimento e as testemunhas deverão apresentar documento de
  identificação com foto no início da gravação e, em seguida, deverão ser
  devidamente qualificadas, com indicação do nome, estado civil, profissão e
  local de residência, bem como indicar se são parentes ou amigos íntimos da
  parte autora; b-) as testemunhas deverão ser compromissadas antes de prestarem
  depoimento, assumindo o compromisso de dizer a verdade sob pena de cometimento
  do crime de falso testemunho (Código Penal, art. 342); c-) a gravação em vídeo
  deve ser contínua, sem edições ou cortes de qualquer natureza, de modo a
  garantir a integridade do depoimento e as testemunhas deverão responder,
  obrigatoriamente, às perguntas padronizadas indicadas abaixo, além de outras
  que o advogado da parte autora entender pertinentes, sob pena de invalidade da
  prova testemunhal gravada com a consequente preclusão e sua desconsideração na
  formação do convencimento do juízo. d-) PERGUNTAS PADRONIZADAS As perguntas
  abaixo devem ser formuladas à parte autora e às testemunhas. Caso uma resposta
  negativa torne prejudicada a análise das posteriores, fica dispensada a
  formulação das demais. I – DEPOIMENTO PESSOAL a) Quando a(o) depoente conheceu
  a (o) de cujus? b) A partir de quando a(o) depoente passou a conviver com a(o)
  de cujus na condição de companheira(o)? c) Qual o endereço no qual houve a
  coabitação? Se o caso, indicar os locais de residência nos últimos cinco anos
  anteriores à data do óbito e o tempo em que permaneceram na localidade. d)
  Algum dos conviventes foi casado anteriormente? Caso positivo, qual a data na
  qual houve a separação? e) Houve filhos comuns em decorrência do
  relacionamento? Quais? e-1) Algum dos filhos comuns é menor de dezoito anos,
  inválido ou com deficiência? Se positivo, está sob guarda da parte autora?
  Está matriculado na escola? f) Algum dos conviventes tinha filhos decorrentes
  de outros relacionamentos? g) Quais locais os conviventes costumavam
  frequentar? h) Como era o relacionamento da depoente com a família da(o) de
  cujus? i) A(o) de cujus sofria de alguma patologia? Caso positivo, como eram e
  quem prestava os cuidados necessários? j) Na localidade em que residiam e
  perante a família, todos reconheciam a depoente e o de cujus como
  companheiros? k) O (a) depoente foi declarante do óbito? Caso negativo, por
  quê? l) O (a) depoente cuidou e estava presente no funeral da(o) de cujus?
  Caso negativo, por quê? m) Em algum momento a parte Autora e o(a) de cujus
  chegaram a se separar? II – DEPOIMENTO DE TESTEMUNHAS a) Há quanto tempo
  conhece a parte autora? b) Conhece a parte autora em razão do quê? c) Quando a
  parte autora conheceu a (o) de cujus? d) A partir de quando a parte Autora
  passou a conviver com a(o) de cujus na condição de companheira(o)? e) Qual o
  endereço no qual houve a coabitação da parte autora e do(a) de cujus? Se o
  caso, indicar os locais de residência nos últimos cinco anos anteriores à data
  do óbito e o tempo em que a parte autora e o(a) de cujus permaneceram na
  localidade. f) A parte autora ou o(a) de cujus foram casados anteriormente?
  Caso positivo, qual a data na qual houve a separação? g) Houve filhos comuns
  em decorrência do relacionamento? Quais? g.1) Algum dos filhos comuns é menor
  de dezoito anos, inválido ou com deficiência? Se positivo, está sob guarda da
  parte autora? Está matriculado na escola? h) A parte autora ou o(a) de cujus
  tinha filhos decorrentes de outros relacionamentos? i) Quais locais a parte
  autora e o(a) de cujus costumavam frequentar? j) Como era o relacionamento da
  parte autora com a família da(o) de cujus? k) A(o) de cujus sofria de alguma
  patologia? Caso positivo, como eram e quem prestava os cuidados necessários?
  l) Na localidade em que residiam e perante a família, todos reconheciam a
  parte autora e o de cujus como companheiros/marido e mulher? m) A parte autora
  foi a declarante do óbito? Caso negativo, por quê? n) A parte autora cuidou e
  estava presente no funeral da(o) de cujus? Caso negativo, por quê? o) Em algum
  momento a parte autora e o(a) de cujus chegaram a se separar? No mesmo prazo,
  além das gravações dos depoimentos a serem juntadas, a parte autora deve
  atentar-se para seu ônus probatório de carrear aos autos início de prova
  material contemporânea aos fatos, conferindo se há documentos produzidos tanto
  no período não superior a 24 (vinte e quatro) meses do óbito como no período
  anterior a 2 (dois) anos deste, nos termos do artigo 16, §§ 5º e 6º, da Lei nº
  8.213/91, tendo como exemplo o rol previsto no artigo 22, § 3º, do Decreto nº
  3.048/99 e no artigo 3º, § 1º, da Portaria GACO n. 59/2023. Com o decurso do
  prazo ou a juntada dos vídeos pela parte autora mediante adesão ao fluxo de
  Instrução Concentrada, CITE-SE e INTIME-SE o INSS para, no prazo de 30 dias,
  apresentar resposta ou proposta de acordo no fluxo da Instrução Concentrada da
  Pauta Pensão, devendo, desde logo, juntar os demais elementos de prova que
  entender pertinentes, nos termos do fluxo da Instrução Concentrada. Com a
  manifestação do INSS, intime-se a parte contrária para manifestação sobre
  eventual acordo ou para réplica, no prazo de 15 dias. Em seguida, voltem
  conclusos. P.I.
</p>
