<section class="example-section" [formGroup]="toppings">
  <p (click)="handleClick4()">
    <mat-checkbox formControlName="indeferimentoPP"
      >Indeferimento do PP</mat-checkbox
    >
  </p>
  <p (click)="handleClick5()">
    <mat-checkbox formControlName="profissão"
      >Indicação da profissão</mat-checkbox
    >
  </p>
  <p (click)="handleClick6()">
    <mat-checkbox formControlName="doença">Indicação da doença</mat-checkbox>
  </p>
  <p (click)="handleClick7()">
    <mat-checkbox formControlName="ação-anterior"
      >Declaração de ação anterior (art. 129-A)</mat-checkbox
    >
  </p>
  <p (click)="handleClick8()">
    <mat-checkbox formControlName="comorbidade"
      >Esclarecer Comorbidade Incapacitante</mat-checkbox
    >
  </p>
</section>
