<p>
  ( ) apresentando “termo de renúncia expressa aos valores excedentes a 60
  (sessenta) salários mínimos na data da propositura da ação”, assinado pela
  própria parte ou por seu advogado (desde que possua poderes expressos e
  especiais para renunciar, nos termos do art. 105 CPC), já que não se admite a
  renúncia tácita para fins de fixação de competência (Enunciado nº 16 do II
  Encontro dos JEF da 4ª Região) e porque a fixação da competência absoluta dos
  Juizados Especiais Federais leva em conta o critério de alçada (art. 3º, Lei
  nº 10.259/01);
</p>
