<p>
  ( ) apresentando declaração de próprio punho ou assinada por advogado com
  poderes expressos no sentido de não dispor de recursos financeiros para arcar
  com as despesas do processo sem prejuízo do sustento próprio ou de sua família
  (arts. 98 e 99, §3º, NCPC), haja vista que “a declaração destinada a fazer
  prova de pobreza presume-se verdadeira quando assinada pelo próprio
  interessado ou por procurador bastante” (art. 1º, Lei nº 7.115/83) e “a
  procuração geral para o foro, outorgada por instrumento público ou particular
  assinado pela parte, habilita o advogado a praticar todos os atos do processo,
  exceto (...) assinar declaração de hipossuficiência econômica (...)” (art.
  105, caput, CPC), sob pena de indeferimento do benefício de Justiça Gratuita
  requerido na petição inicial.
</p>
