<p>
  ( ) formulando pedido certo (an debeatur) e determinado (quantum debeatur), nos
  termos do art. 322 e 324 CPC, para tanto devendo indicar na petição inicial
  exatamente sua pretensão, ainda que de forma sucessiva ou eventual e, também,
  precisamente quanto (em expressão monetária nominal) pretende receber como
  resultado da almejada condenação, eis que a formulação de pedido
  ilíquido/genérico só é admitida em situações excepcionais (art. 324, §1º do
  CPC), sendo que nenhuma delas se evidencia na demanda apresentada;
</p>
