<h5 style="text-align: center"><strong>DESPACHO</strong></h5>

<p style="text-align: justify">
  <strong>I - Intime-se</strong> a parte autora para que no
  <strong>prazo de 15 (quinze) dias</strong> (art. 321, CPC), promova emenda à
  petição inicial, nos seguintes termos:
</p>
<p style="text-align: justify">
  ( ) Tratando-se de ação fundada no reconhecimento de tempo de serviço rural,
  faculta-se à parte autora que instrua a petição inicial com todas as provas
  com que pretende comprovar tal fato, sobretudo vídeos de seu depoimento
  pessoal, gravações com os depoimentos de suas testemunhas, fotografias ou
  vídeos de seu rosto e das suas mãos com presença de estigmas laborais e de
  marcas decorrentes da exposição solar, vídeos ou mapas do imóvel rural e
  demais documentos aptos a comprovarem o trabalho rural alegado. Saliento que
  tais provas deverão ser produzidas unilateralmente pelo autor e anexadas com a
  petição inicial, sob pena de preclusão. Registro que há prévia e expressa
  anuência do réu quanto a tal procedimento (conforme Ofício subscrito pela
  Coordenadora da Equipe Regional de Matéria Previdenciária junto à
  Procuradoria-Regional Federal da 3ª Região e arquivado na secretaria deste
  juízo). Deverá a parte autora atentar-se para as perguntas padronizadas
  constantes do
  <strong>anexo II da Resolução Conjunta PRESI/GABPRES/ADEG Nº 9/2024</strong>
  Desse modo, caso o autor não produza tais provas como aqui facultado, fica
  ciente e advertido de que não haverá posterior designação de audiência de
  instrução neste processo para tal finalidade, já que toda a prova oral
  (depoimento pessoal e testemunhas) poderá ser colhida pelo próprio autor e
  juntada aos autos. Tal metodologia atende aos princípios da celeridade,
  informalidade, simplicidade e oralidade própria dos JEFs, sem comprometer o
  contraditório, na medida em que o INSS anuiu com tal forma de produção
  probatória. Assim, só haverá audiência se estritamente necessário para
  esclarecer possível ponto de dúvida que porventura venha a emergir dos
  depoimentos apresentados pelo próprio autor com a petição inicial.
</p>
