<p>
  ( ) apresentando comprovante de residência contemporâneo à data da propositura
  da ação, em nome da própria parte e constando seu endereço preciso. Admite-se
  também como prova de endereço a apresentação de documento que demonstre a
  existência de vínculo entre a autora e a pessoa em cujo nome está o
  comprovante de endereço apresentado sendo que, tratando-se de imóvel alugado,
  deverá a autora, além do contrato de aluguel (se escrito), apresentar
  documentos pessoais do proprietário do imóvel. Havendo discrepância entre o
  endereço indicado na petição inicial e aquele constante do instrumento de
  mandato ou comprovante de endereço, deverá a parte autora explicar os motivos.
  Tal emenda faz-se necessária porque a verificação da competência deste juízo
  federal depende de tal análise (art. 51, inciso III, Lei nº 9.099/95);;
</p>
