<p>
  ( ) indicando na petição inicial, precisamente, sua profissão, haja vista
  tratar-se de qualificação necessária ao recebimento da petição inicial (art.
  319, inciso II, CPC) e, em se tratando de pretensão quanto à percepção de
  benefício por incapacidade (art. 129-A, II, LBPS), resta indispensável aferir
  a atividade habitual do autor como condição à aferição de sua capacidade ou
  incapacidade laborativa à luz da legislação vigente (arts. 42 e 59 da Lei nº
  8.213/91 e art. 203, inciso V, CF/88). Se a profissão anotada na CTPS for de
  “serviços gerais” cabe ao autor discriminar as tarefas e atividades que
  desempenha durante o seu labor, dada a necessidade de produção de prova
  pericial sob ótica profissiológica. Se qualificado na petição inicial como
  “desempregado”, deverá o autor explicitar qual era sua profissão habitual
  antes de perder o emprego, ou então, a atividade remunerada desempenhada de
  forma informal ou autônoma nesse período;
</p>
