<button mat-button [matMenuTriggerFor]="animals">Iniciar</button>
<mat-menu #animals="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="vertebrates">INSS</button>
  <button mat-menu-item >CEF</button>
</mat-menu>

<mat-menu #vertebrates="matMenu">
  <button mat-menu-item (click)="handleClick()">Benefícios por incapacidade</button>
  <button mat-menu-item (click)="handleClick2()">Genérico</button>
  <button mat-menu-item (click)="handleClick3()">Pensão por Morte</button>
  <button mat-menu-item (click)="handleClick4()">Aposentadoria por Tempo de Contribuição</button>
  <button mat-menu-item (click)="handleClick5()">Auxílío-Reclusão</button>
  </mat-menu>